<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StartGameServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.StartGameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.GameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompGameServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.CompGameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndGameSevlet</servlet-name>
        <servlet-class>za.ac.tut.controller.EndGameSevlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartGameServlet</servlet-name>
        <url-pattern>/StartGameServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameServlet</servlet-name>
        <url-pattern>/GameServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompGameServlet</servlet-name>
        <url-pattern>/CompGameServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndGameSevlet</servlet-name>
        <url-pattern>/EndGameSevlet.do</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>java.lang.NumberFormatException</exception-type>
        <location>/numberFormatException.jsp</location>
    </error-page>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
